.plans {
    max-width: 928px;
    width: 100%;
    margin: 0 auto;
    &__options{

    }
    &__option{
        position: relative;
        input{
            clip: rect(0 0 0 0);
            clip-path: inset(50%);
            height: 1px;
            overflow: hidden;
            position: absolute;
            white-space: nowrap;
            width: 1px;
            &:checked{
                border: 2px solid #0d0df1;
                + label{
                    &::before{
                        transform: translate(-50%, -50%) scale(1) rotate(45deg);
                    }
                }
            }
        }
    }
    &__option-content{
        display: flex;
        flex-direction: column;
        width: 256px;
        height: 212px;
        padding: 16px 24px 40px 24px;
        background-color: wheat;
        border-radius: 24px;
        /*&::before{
            content: '';
            width: 20px;
            height: 20px;
            border: 1px solid #B7B1A9;
            flex-shrink: 0;
            margin-right: 12px;
            position: relative;
            border-radius: 50%;
        }*/
    }
}