.section{
    &--home{
        padding-top: 32px;
        padding-bottom: 97px;
    }
    &--summary{
        .plans{
            .healine{
                text-align: left;
            }
        }
    }
}