.plans {
    max-width: 928px;
    width: 100%;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 80px;
    @media (max-width: 767px){
        padding-left: 24px;
        padding-right: 24px;
    }
    .headline{
        margin-top: 56px;
        margin-bottom: 32px;
        text-align: center;
        &__title{
            font-family: Lato;
            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            line-height: 48px; /* 120% */
            letter-spacing: -0.6px;
        }
        &__description{
            color: #141938;
            font-family: Lato;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px; /* 175% */
            letter-spacing: 0.1px;
        }
    }
    &__options{
        display: flex;
        justify-content: space-around;
        max-width: 544px;
        gap: 32px;
        margin: 0 auto 20px;
        @media (max-width: 600px){
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            max-width: 100%;
            align-items: center;
        }
    }
    &__option{
        position: relative;
        width: 256px;
        height: 212px;
        border-radius: 24px;
        box-shadow: 0px 1px 32px 0px rgba(174, 172, 243, 0.35);
        input{
            clip: rect(0 0 0 0);
            clip-path: inset(50%);
            height: 1px;
            overflow: hidden;
            position: absolute;
            white-space: nowrap;
            width: 1px;
            &:checked{
                + label {
                    border: 2px solid #141938;
                }
                + label .shape{
                    background-color: #389E0D;
                    &::after {
                        transform: translate(-50%, -50%) scale(1) rotate(45deg);
                    }
                }
            }
        }
    }
    &__option-content{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 16px 24px 40px 24px;
        background-color: $white;
        border-radius: 24px;
        position: relative;
        cursor: pointer;
        .wrapper-shape{
            display: flex;
            justify-content: end;
        }
        .shape{
            width: 20px;
            height: 20px;
            border: 1px solid #B7B1A9;
            flex-shrink: 0;
            position: relative;
            border-radius: 50%;
            &::after{
                content: "";
                width: 6px;
                height: 11px;
                border-style: solid;
                border-color: #ffffff;
                border-width: 0px 2px 2px 0px;
                transform: translate(-50%, -50%) scale(0) rotate(45deg);
                position: absolute;
                top: 50%;
                left: 50%;
                transition: all 0.3s;
            }
        }
    }
    &__option-icon{
        margin-bottom: 8px;
    }
    &__option-title{
        font-family: Lato;
        font-size: 20px;
        font-style: normal;
        font-weight: 900;
        line-height: 28px; /* 140% */
        letter-spacing: -0.2px;
        margin-bottom: 8px;
    }
    &__option-text{
        font-family: Lato;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 166.667% */
        letter-spacing: 0.2px;
    }
    &__detail{
        //display: flex;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 32px;
        @media (max-width: 767px){
            /*flex-wrap: wrap;
            justify-content: center;*/
            grid-template-columns: 1fr;
            justify-items: center;
        }
    }
}

.plan{
    display: flex;
    flex-direction: column;
    max-width: 288px;
    border-radius: 24px;
    padding: 68px 32px 48px 32px;
    box-shadow: 0px 1px 32px 0px rgba(174, 172, 243, 0.35);
    &__header{
        display: flex;
        border-bottom: 1px solid #D7DBF5;
        padding-bottom: 24px;
        margin-bottom: 24px;
        position: relative;
    }
    &__tag{
        background-color: #7DF0BA;
        position: absolute;
        top: -30px;
        font-family: Lato;
        font-size: 12px;
        font-style: normal;
        font-weight: 900;
        line-height: 16px; /* 133.333% */
        letter-spacing: 0.4px;
        padding: 2px 8px;
        border-radius: 6px;
    }
    &__title{
        padding-right: 16px;
        h3{
            font-family: Lato;
            font-size: 24px;
            font-style: normal;
            font-weight: 900;
            line-height: 32px; /* 133.333% */
            letter-spacing: -0.2px;
        }
    }
    &__icon{
        display: flex;
        flex-shrink: 0;
        align-items: flex-start;
    }
    &__cost{
        margin-top: 24px;
    }
    &__cost-text{
        color: #7981B2;
        font-family: Lato;
        font-size: 12px;
        font-style: normal;
        font-weight: 900;
        line-height: 16px; /* 133.333% */
        letter-spacing: 0.6px;
        text-transform: uppercase;
    }
    &__previous-price{
        color: #7981B2;
        text-decoration: line-through;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 142.857% */
        letter-spacing: -0.2px;
    }
    &__cost-price{
        color: #141938;
        font-family: Lato;
        font-size: 20px;
        font-style: normal;
        font-weight: 900;
        line-height: 28px; /* 140% */
        letter-spacing: -0.2px;
    }
    &__content{

    }
    &__footer{
        display: flex;
        justify-content: center;
        margin-top: auto;
        .c-button{

        }
    }
}

.plan-list{
    &__item{
        display: flex;
        margin-bottom: 24px;
        gap: 10px;
        &::before{
            content: '.';
            width: 7px;
            height: 7px;
            background-color: $black;
            flex-shrink: 0;
            //margin-right: 10px;
            border-radius: 50%;
            margin-top: 8px;
        }
    }
    &__bullet{
        width: 10px;
        height: 10px;
        display: block;
        background-color: red;
    }
}
