// Colors variables
$white: #ffffff;
$black: #03050F;
$primary: #428bca;
$button-color: #e5b753;
$black-color: #000000;
$dark-gray: #444444;
$gray-color: #f7f7f7;
$bg-color: #1A36A8;
$blue: #003383;
$orange: #D43E36;
$gray: #B7B1A9;
